.back{
    height: 80vh;
    background-image: url("../Images/home-pic.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*bg-p-dark{
    opacity: 23;
}*/
.opacity{
    position: absolute;
    margin-top: -16px;
    height: 80vh;
    width: 100%;
    background: #212529;
    opacity: 38%;
  /*  z-index:-1;*/
}
.text-smaller {
    font-size: 8px;
    margin-top: -13%;
    margin-left: 8%;
}
.btn-lg-success{
    color: #ffffff;
    background-color: #212529;
    border: solid 2px #E8E8E8;
    border-radius: 2px;
    padding: 11px 82px;
}
.btn-lg-success:hover {
    color: #000000;
    background-color: #ffffff;
    border: solid 2px #EAEAEA;
    border-radius: 2px;
   
}
.wrap-onboard{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 16%;
}
.text-wrapper{
    color: #ffffff;
    margin-right: 11%;
    height: 64vh;
    width: 150%;
    padding: 27px 16px;
}

.side-text h2{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 9%;
}
.side-text h2 span{
    font-weight: 100;
}

.side-text p{
    font-size: 22px;
}

.btn-get{
    margin-top: 2%;
    color: #167ffa;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: 11px 82px;
    font-weight: bold;
    margin-bottom: -25%;
}
.btn-get span{

    margin-right: 2px;
}
.bill-wrapper{
    background: #ffffff;
    height: 58vh;
    width: 116%;
    border-radius: 6px;
    border: none;
  
}
.bill-hd h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 23px;
}
.all-bill-boxes{
    display: flex;
    align-content: center;
}
.bil-bx{
    width: 100%;

}
.bill-box{
    background:#DCEBFA;
    height: 17vh;
    margin: 18%;
    border-radius: 5%;
 
}
.bill-box h3{
    font-size: 19px;
}

.brand-section{
    margin-top: 80%;
   background: lightgray;
    color: darkgray;
    height: 39vh;
}
.bd-hd-container{
    font-size: 5px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 80;
}
.bd-icon-containers{
    margin-top: -2%;
}
.bd-icon-container{
    margin-top: 4%;
    margin-bottom: 7%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sl-section{
    height: 80vh;
}
.scale-section{
    background: lightgrey;
    height: 78vh;
}

.bd-section{
    height: 50vh;
}

