@{
    ViewData["Title"] = "Home Page";
}

<div class="back">
   
    <partial name="_Header"/>
     <div class="opacity">
            
        </div>
        <div class=" container wrap-onboard">
            <div class="text-wrapper">
                <div class="side-text">
                    <h2><span>Welcome to,</span> <br/> simple & secure <br/> payments. </h2>
                    <p>Go cashless with the JamboPay Wallet to easily pay <br/> for mavie tickets, electricity tokens, invest in real Gold <br/> and much more!</p>
                </div>
                <button class="btn-get"> <span>Get Started</span> > </button>
            
            </div>
           
            <div class="bill-wrapper">
                <div class="bill-hd">
                    <h3>Bill Payments</h3>
                </div>
                <hr/>
                <div class="all-bill-boxes">
                    <div class="bil-bx">
                        <div class="bill-box">
                            <i class="fa fa-phone"></i>
                            <h3>Mobile AirTime</h3>
                        </div>
                        <div class="bill-box">
                            <h3>Electricity</h3>
                        </div>
                    </div>
                    <div class="bil-bx">
                            
                        <div class="bill-box">
                            <h3>Pay Water Bills</h3>
                        </div>
                        <div class="bill-box">
                            <h3>Pay TVs</h3>
                        </div>
                    </div>
           
                </div>
         
                
            </div>
         
        </div>
        
        
  
    <div class="brand-section">
        <div class="bd-hd-container">
            <h3>WE WORK WITH TRUSTED BRANDS.</h3>
        </div> 
        <div class="bd-icon-containers">
            <div class="bd-icon-container">
                <div class="bd-ic">
                    <img src="~/Images/FamilY-BAnk.png"/>      
                </div>
                        
                <div class="bd-ic">
                    <img src="~/Images/I&M.png"/>            
                </div>
                        
                <div class="bd-ic">
                    <img src="~/Images/NCBA.png"/> 
                </div>
                        
                <div class="bd-ic">
                    <img src="~/Images/Coop-bank.png"/>              
                </div>
                        
                <div class="bd-ic">
                    <img src="~/Images/Equity.png"/>                      
                </div>
                      
            </div>
            
            <div class="bd-icon-container">
                <div class="bd-ic">
                    <img src="~/Images/SUPERFOAM.png"/>      
                </div>
                                
                <div class="bd-ic">
                    <img src="~/Images/Group 169685.png"/>            
                </div>
                                
                <div class="bd-ic">
                    <img src="~/Images/Kasneb-GREY.png"/> 
                </div>
                                
                <div class="bd-ic">
                    <img src="~/Images/Posta.png"/>              
                </div>
                                
                <div class="bd-ic">
                    <img src="~/Images/GT.png"/>                      
                </div>
                              
            </div>
            
        </div>
       
        
    </div>
    <div class="sl-section">
          <div class=" container wrap-onboard">
                      <div class="text-wrapper">
                          <div class="side-text">
                              <h2><span>Welcome to,</span> <br/> simple & secure <br/> payments. </h2>
                              <p>Go cashless with the JamboPay Wallet to easily pay <br/> for mavie tickets, electricity tokens, invest in real Gold <br/> and much more!</p>
                          </div>
                          <button class="btn-get"> <span>Get Started</span> > </button>
                      
                      </div>
                     
                      <div class="bill-wrapper">
                          <div class="bill-hd">
                              <h3>Bill Payments</h3>
                          </div>
                          <hr/>
                          <div class="all-bill-boxes">
                              <div class="bil-bx">
                                  <div class="bill-box">
                                      <i class="fa fa-phone"></i>
                                      <h3>Mobile AirTime</h3>
                                  </div>
                                  <div class="bill-box">
                                      <h3>Electricity</h3>
                                  </div>
                              </div>
                              <div class="bil-bx">
                                      
                                  <div class="bill-box">
                                      <h3>Pay Water Bills</h3>
                                  </div>
                                  <div class="bill-box">
                                      <h3>Pay TVs</h3>
                                  </div>
                              </div>
                     
                          </div>
                   
                          
                      </div>
                   
                  </div>              
    </div>
    <div class="scale-section">
                            
    </div>
    <div class="bd-section">
                                
    </div>
    
    
    
    
    
    
</div>

