@{
    ViewData["Title"] = "Home Page";
}

<div class="back">
    <div class="opacity">
        <partial name="_Header"/>
        <div class=" container wrap-onboard">
            <div class="text-wrapper">
                        <div class="side-text">
                            <h2>Welcome to, <br/> simple & secure <br/> payments. </h2>
                            <p>Go cashless with the JamboPay Wallet to easily pay <br/> for mavie tickets, electricity tokens, invest in real Gold <br/> and much more!</p>
                        </div>
                        <button> Get Started > </button>
            
                    </div>
                    <div class="bill-container">
                        <div class="wrap-container">
                            <h2>Bilol Payments</h2>
                        </div>
            
                    </div>
        </div>
        
    </div>
    
    @*<img src="~/Images/payment.jpeg"/>*@
</div>

