@{
    ViewData["Title"] = "Home Page";
}

<div class="back">
    <div class="opacity">
        <partial name="_Header"/>
        <div class=" container wrap-onboard">
            <div class="text-wrapper">
                <div class="side-text">
                    <h2><span>Welcome to,</span> <br/> simple & secure <br/> payments. </h2>
                    <p>Go cashless with the JamboPay Wallet to easily pay <br/> for mavie tickets, electricity tokens, invest in real Gold <br/> and much more!</p>
                </div>
                <button class="btn-get"> <span>Get Started</span> > </button>
            
            </div>
           
            <div class="bill-wrapper">
                <div class="bill-hd">
                    <h3>Bill Payments</h3>
                </div>
                <hr/>
                <div class="all-bill-boxes">
                    <div class="bil-bx">
                        <div class="bill-box">
                            <h3>Mobile AirTime</h3>
                        </div>
                        <div class="bill-box">
                            <h3>Electricity</h3>
                        </div>
                    </div>
                    <div class="bil-bx">
                            
                        <div class="bill-box">
                            <h3>Pay Water Bills</h3>
                        </div>
                        <div class="bill-box">
                            <h3>Pay TVs</h3>
                        </div>
                    </div>
                        
                        

                      


                </div>
         
                
            </div>
            
            
            <div class="brand-section">
                
            </div>
            
            @*<div class="bill-container">
                        <div class="wrap-container">
                            <div>
                                <h2 class="dark-line">Bill Payments</h2>
                            </div>
                            <hr/>
                            <div class="all-bill-box">
                                <div class="bill-box">
                                    
                                </div>
                                <div class="bill-box">
                                                                    
                                </div>
                                <div class="bill-box">
                                                                    
                                </div>
                                
                            </div>
                          

                        </div>
            
                    </div>*@
        </div>
        
    </div>
    
    @*<img src="~/Images/payment.jpeg"/>*@
</div>

